:root {
  --hue: "$HUE";
  --hue-error: "$HUE_ERROR";
  --hue-blue: "$HUE_BLUE";
  --hue-green: "$HUE_GREEN";
  --hue-orange: "$HUE_ORANGE";
  --hue-yellow: "$HUE_YELLOW";
  --hue-cyan: "$HUE_CYAN";
  --hue-pink: "$HUE_PINK";
  --spread: "$SPREAD";
  --sat-in: "$SAT";
  --sat: calc(var(--sat-in) / 50);

  --hue-primary: var(--hue);
  --hue-secondary: calc(var(--hue) + var(--spread));
  --hue-tertiary: calc(var(--hue) + var(--spread) * 2);
  --hue-indigo: calc(var(--hue) - var(--spread) / 2);
  --hue-purple: calc(var(--hue) + var(--spread));
  --hue-neutral: var(--hue);
  --hue-neutral-variant: calc(var(--hue) + var(--spread) / 2);

  --s-0: calc(50% * var(--sat));
  --s-10: calc(70% * var(--sat));
  --s-15: calc(60% * var(--sat));
  --s-20: calc(60% * var(--sat));
  --s-25: calc(50% * var(--sat));
  --s-30: calc(50% * var(--sat));
  --s-35: calc(40% * var(--sat));
  --s-40: calc(40% * var(--sat));
  --s-50: calc(40% * var(--sat));
  --s-55: calc(40% * var(--sat));
  --s-60: calc(40% * var(--sat));
  --s-70: calc(40% * var(--sat));
  --s-80: calc(50% * var(--sat));
  --s-90: calc(60% * var(--sat));
  --s-94: calc(50% * var(--sat));
  --s-95: calc(60% * var(--sat));
  --s-98: calc(70% * var(--sat));
  --s-99: calc(70% * var(--sat));
  --s-100: calc(10% * var(--sat));

  --l-0: 10%;
  --l-10: 10%;
  --l-15: 10%;
  --l-20: 10%;
  --l-25: 10%;
  --l-35: 20%;
  --l-30: 20%;
  --l-40: 30%;
  --l-50: 40%;
  --l-55: 40%;
  --l-60: 50%;
  --l-70: 60%;
  --l-80: 70%;
  --l-90: 80%;
  --l-94: 80%;
  --l-95: 80%;
  --l-98: 80%;
  --l-99: 80%;
  --l-100: 80%;

  --ref-palette-primary0: hsl(var(--hue-primary) var(--s-0) var(--l-0));
  --ref-palette-primary10: hsl(var(--hue-primary) var(--s-10) var(--l-10));
  --ref-palette-primary20: hsl(var(--hue-primary) var(--s-20) var(--l-20));
  --ref-palette-primary30: hsl(var(--hue-primary) var(--s-30) var(--l-30));
  --ref-palette-primary40: hsl(var(--hue-primary) var(--s-40) var(--l-40));
  --ref-palette-primary50: hsl(var(--hue-primary) var(--s-50) var(--l-50));
  --ref-palette-primary60: hsl(var(--hue-primary) var(--s-60) var(--l-60));
  --ref-palette-primary70: hsl(var(--hue-primary) var(--s-70) var(--l-70));
  --ref-palette-primary80: hsl(var(--hue-primary) var(--s-80) var(--l-80));
  --ref-palette-primary90: hsl(var(--hue-primary) var(--s-90) var(--l-90));
  --ref-palette-primary95: hsl(var(--hue-primary) var(--s-95) var(--l-95));
  --ref-palette-primary99: hsl(var(--hue-primary) var(--s-99) var(--l-99));
  --ref-palette-primary100: hsl(var(--hue-primary) var(--s-100) var(--l-100));

  --ref-palette-secondary0: hsl(var(--hue-secondary) var(--s-0) var(--l-0));
  --ref-palette-secondary10: hsl(var(--hue-secondary) var(--s-10) var(--l-10));
  --ref-palette-secondary15: hsl(var(--hue-secondary) var(--s-15) var(--l-15));
  --ref-palette-secondary20: hsl(var(--hue-secondary) var(--s-20) var(--l-20));
  --ref-palette-secondary25: hsl(var(--hue-secondary) var(--s-25) var(--l-25));
  --ref-palette-secondary30: hsl(var(--hue-secondary) var(--s-30) var(--l-30));
  --ref-palette-secondary35: hsl(var(--hue-secondary) var(--s-35) var(--l-35));
  --ref-palette-secondary40: hsl(var(--hue-secondary) var(--s-40) var(--l-40));
  --ref-palette-secondary50: hsl(var(--hue-secondary) var(--s-50) var(--l-50));
  --ref-palette-secondary60: hsl(var(--hue-secondary) var(--s-60) var(--l-60));
  --ref-palette-secondary70: hsl(var(--hue-secondary) var(--s-70) var(--l-70));
  --ref-palette-secondary80: hsl(var(--hue-secondary) var(--s-80) var(--l-80));
  --ref-palette-secondary90: hsl(var(--hue-secondary) var(--s-90) var(--l-90));
  --ref-palette-secondary95: hsl(var(--hue-secondary) var(--s-95) var(--l-95));
  --ref-palette-secondary99: hsl(var(--hue-secondary) var(--s-99) var(--l-99));
  --ref-palette-secondary100: hsl(var(--hue-secondary) var(--s-100) var(--l-100));

  --ref-palette-tertiary0: hsl(var(--hue-tertiary) var(--s-0) var(--l-0));
  --ref-palette-tertiary10: hsl(var(--hue-tertiary) var(--s-10) var(--l-10));
  --ref-palette-tertiary20: hsl(var(--hue-tertiary) var(--s-20) var(--l-20));
  --ref-palette-tertiary30: hsl(var(--hue-tertiary) var(--s-30) var(--l-30));
  --ref-palette-tertiary40: hsl(var(--hue-tertiary) var(--s-40) var(--l-40));
  --ref-palette-tertiary50: hsl(var(--hue-tertiary) var(--s-50) var(--l-50));
  --ref-palette-tertiary60: hsl(var(--hue-tertiary) var(--s-60) var(--l-60));
  --ref-palette-tertiary70: hsl(var(--hue-tertiary) var(--s-70) var(--l-70));
  --ref-palette-tertiary80: hsl(var(--hue-tertiary) var(--s-80) var(--l-80));
  --ref-palette-tertiary90: hsl(var(--hue-tertiary) var(--s-90) var(--l-90));
  --ref-palette-tertiary95: hsl(var(--hue-tertiary) var(--s-95) var(--l-95));
  --ref-palette-tertiary99: hsl(var(--hue-tertiary) var(--s-99) var(--l-99));
  --ref-palette-tertiary100: hsl(var(--hue-tertiary) var(--s-100) var(--l-100));

  --ref-palette-neutral0: hsl(var(--hue-neutral) var(--s-0) var(--l-0));
  --ref-palette-neutral10: hsl(var(--hue-neutral) var(--s-10) var(--l-10));
  --ref-palette-neutral15: hsl(var(--hue-neutral) var(--s-15) var(--l-15));
  --ref-palette-neutral20: hsl(var(--hue-neutral) var(--s-20) var(--l-20));
  --ref-palette-neutral25: hsl(var(--hue-neutral) var(--s-25) var(--l-25));
  --ref-palette-neutral30: hsl(var(--hue-neutral) var(--s-30) var(--l-30));
  --ref-palette-neutral40: hsl(var(--hue-neutral) var(--s-40) var(--l-40));
  --ref-palette-neutral50: hsl(var(--hue-neutral) var(--s-50) var(--l-50));
  --ref-palette-neutral60: hsl(var(--hue-neutral) var(--s-60) var(--l-60));
  --ref-palette-neutral70: hsl(var(--hue-neutral) var(--s-70) var(--l-70));
  --ref-palette-neutral80: hsl(var(--hue-neutral) var(--s-80) var(--l-80));
  --ref-palette-neutral90: hsl(var(--hue-neutral) var(--s-90) var(--l-90));
  --ref-palette-neutral94: hsl(var(--hue-neutral) var(--s-94) var(--l-94));
  --ref-palette-neutral95: hsl(var(--hue-neutral) var(--s-95) var(--l-95));
  --ref-palette-neutral98: hsl(var(--hue-neutral) var(--s-98) var(--l-98));
  --ref-palette-neutral99: hsl(var(--hue-neutral) var(--s-99) var(--l-99));
  --ref-palette-neutral100: hsl(var(--hue-neutral) var(--s-100) var(--l-100));

  --ref-palette-neutral-variant0: hsl(var(--hue-neutral-variant) var(--s-0) var(--l-0));
  --ref-palette-neutral-variant10: hsl(var(--hue-neutral-variant) var(--s-10) var(--l-10));
  --ref-palette-neutral-variant20: hsl(var(--hue-neutral-variant) var(--s-20) var(--l-20));
  --ref-palette-neutral-variant30: hsl(var(--hue-neutral-variant) var(--s-30) var(--l-30));
  --ref-palette-neutral-variant40: hsl(var(--hue-neutral-variant) var(--s-40) var(--l-40));
  --ref-palette-neutral-variant50: hsl(var(--hue-neutral-variant) var(--s-50) var(--l-50));
  --ref-palette-neutral-variant60: hsl(var(--hue-neutral-variant) var(--s-60) var(--l-60));
  --ref-palette-neutral-variant70: hsl(var(--hue-neutral-variant) var(--s-70) var(--l-70));
  --ref-palette-neutral-variant80: hsl(var(--hue-neutral-variant) var(--s-80) var(--l-80));
  --ref-palette-neutral-variant90: hsl(var(--hue-neutral-variant) var(--s-90) var(--l-90));
  --ref-palette-neutral-variant95: hsl(var(--hue-neutral-variant) var(--s-95) var(--l-95));
  --ref-palette-neutral-variant99: hsl(var(--hue-neutral-variant) var(--s-99) var(--l-99));
  --ref-palette-neutral-variant100: hsl(var(--hue-neutral-variant) var(--s-100) var(--l-100));

  --ref-palette-indigo0: hsl(var(--hue-indigo) var(--s-0) var(--l-0));
  --ref-palette-indigo10: hsl(var(--hue-indigo) var(--s-10) var(--l-10));
  --ref-palette-indigo20: hsl(var(--hue-indigo) var(--s-20) var(--l-20));
  --ref-palette-indigo30: hsl(var(--hue-indigo) var(--s-30) var(--l-30));
  --ref-palette-indigo40: hsl(var(--hue-indigo) var(--s-40) var(--l-40));
  --ref-palette-indigo50: hsl(var(--hue-indigo) var(--s-50) var(--l-50));
  --ref-palette-indigo60: hsl(var(--hue-indigo) var(--s-60) var(--l-60));
  --ref-palette-indigo70: hsl(var(--hue-indigo) var(--s-70) var(--l-70));
  --ref-palette-indigo80: hsl(var(--hue-indigo) var(--s-80) var(--l-80));
  --ref-palette-indigo90: hsl(var(--hue-indigo) var(--s-90) var(--l-90));
  --ref-palette-indigo95: hsl(var(--hue-indigo) var(--s-95) var(--l-95));
  --ref-palette-indigo99: hsl(var(--hue-indigo) var(--s-99) var(--l-99));
  --ref-palette-indigo100: hsl(var(--hue-indigo) var(--s-100) var(--l-100));

  --ref-palette-purple0: hsl(var(--hue-purple) var(--s-0) var(--l-0));
  --ref-palette-purple10: hsl(var(--hue-purple) var(--s-10) var(--l-10));
  --ref-palette-purple20: hsl(var(--hue-purple) var(--s-20) var(--l-20));
  --ref-palette-purple30: hsl(var(--hue-purple) var(--s-30) var(--l-30));
  --ref-palette-purple40: hsl(var(--hue-purple) var(--s-40) var(--l-40));
  --ref-palette-purple50: hsl(var(--hue-purple) var(--s-50) var(--l-50));
  --ref-palette-purple60: hsl(var(--hue-purple) var(--s-60) var(--l-60));
  --ref-palette-purple70: hsl(var(--hue-purple) var(--s-70) var(--l-70));
  --ref-palette-purple80: hsl(var(--hue-purple) var(--s-80) var(--l-80));
  --ref-palette-purple90: hsl(var(--hue-purple) var(--s-90) var(--l-90));
  --ref-palette-purple95: hsl(var(--hue-purple) var(--s-95) var(--l-95));
  --ref-palette-purple99: hsl(var(--hue-purple) var(--s-99) var(--l-99));
  --ref-palette-purple100: hsl(var(--hue-purple) var(--s-100) var(--l-100));

  --ref-palette-error0: hsl(var(--hue-error) var(--s-0) var(--l-0));
  --ref-palette-error10: hsl(var(--hue-error) var(--s-10) var(--l-10));
  --ref-palette-error20: hsl(var(--hue-error) var(--s-20) var(--l-20));
  --ref-palette-error30: hsl(var(--hue-error) var(--s-30) var(--l-30));
  --ref-palette-error40: hsl(var(--hue-error) var(--s-40) var(--l-40));
  --ref-palette-error50: hsl(var(--hue-error) var(--s-50) var(--l-50));
  --ref-palette-error60: hsl(var(--hue-error) var(--s-60) var(--l-60));
  --ref-palette-error70: hsl(var(--hue-error) var(--s-70) var(--l-70));
  --ref-palette-error80: hsl(var(--hue-error) var(--s-80) var(--l-80));
  --ref-palette-error90: hsl(var(--hue-error) var(--s-90) var(--l-90));
  --ref-palette-error95: hsl(var(--hue-error) var(--s-95) var(--l-95));
  --ref-palette-error99: hsl(var(--hue-error) var(--s-99) var(--l-99));
  --ref-palette-error100: hsl(var(--hue-error) var(--s-100) var(--l-100));

  --ref-palette-blue0: hsl(var(--hue-blue) var(--s-0) var(--l-0));
  --ref-palette-blue10: hsl(var(--hue-blue) var(--s-10) var(--l-10));
  --ref-palette-blue20: hsl(var(--hue-blue) var(--s-20) var(--l-20));
  --ref-palette-blue30: hsl(var(--hue-blue) var(--s-30) var(--l-30));
  --ref-palette-blue40: hsl(var(--hue-blue) var(--s-40) var(--l-40));
  --ref-palette-blue50: hsl(var(--hue-blue) var(--s-50) var(--l-50));
  --ref-palette-blue60: hsl(var(--hue-blue) var(--s-60) var(--l-60));
  --ref-palette-blue70: hsl(var(--hue-blue) var(--s-70) var(--l-70));
  --ref-palette-blue80: hsl(var(--hue-blue) var(--s-80) var(--l-80));
  --ref-palette-blue90: hsl(var(--hue-blue) var(--s-90) var(--l-90));
  --ref-palette-blue95: hsl(var(--hue-blue) var(--s-95) var(--l-95));
  --ref-palette-blue99: hsl(var(--hue-blue) var(--s-99) var(--l-99));
  --ref-palette-blue100: hsl(var(--hue-blue) var(--s-100) var(--l-100));

  --ref-palette-green0: hsl(var(--hue-green) var(--s-0) var(--l-0));
  --ref-palette-green10: hsl(var(--hue-green) var(--s-10) var(--l-10));
  --ref-palette-green20: hsl(var(--hue-green) var(--s-20) var(--l-20));
  --ref-palette-green30: hsl(var(--hue-green) var(--s-30) var(--l-30));
  --ref-palette-green40: hsl(var(--hue-green) var(--s-40) var(--l-40));
  --ref-palette-green50: hsl(var(--hue-green) var(--s-50) var(--l-50));
  --ref-palette-green60: hsl(var(--hue-green) var(--s-60) var(--l-60));
  --ref-palette-green70: hsl(var(--hue-green) var(--s-70) var(--l-70));
  --ref-palette-green80: hsl(var(--hue-green) var(--s-80) var(--l-80));
  --ref-palette-green90: hsl(var(--hue-green) var(--s-90) var(--l-90));
  --ref-palette-green95: hsl(var(--hue-green) var(--s-95) var(--l-95));
  --ref-palette-green99: hsl(var(--hue-green) var(--s-99) var(--l-99));
  --ref-palette-green100: hsl(var(--hue-green) var(--s-100) var(--l-100));

  --ref-palette-orange0: hsl(var(--hue-orange) var(--s-0) var(--l-0));
  --ref-palette-orange10: hsl(var(--hue-orange) var(--s-10) var(--l-10));
  --ref-palette-orange20: hsl(var(--hue-orange) var(--s-20) var(--l-20));
  --ref-palette-orange30: hsl(var(--hue-orange) var(--s-30) var(--l-30));
  --ref-palette-orange40: hsl(var(--hue-orange) var(--s-40) var(--l-40));
  --ref-palette-orange50: hsl(var(--hue-orange) var(--s-50) var(--l-50));
  --ref-palette-orange60: hsl(var(--hue-orange) var(--s-60) var(--l-60));
  --ref-palette-orange70: hsl(var(--hue-orange) var(--s-70) var(--l-70));
  --ref-palette-orange80: hsl(var(--hue-orange) var(--s-80) var(--l-80));
  --ref-palette-orange90: hsl(var(--hue-orange) var(--s-90) var(--l-90));
  --ref-palette-orange95: hsl(var(--hue-orange) var(--s-95) var(--l-95));
  --ref-palette-orange99: hsl(var(--hue-orange) var(--s-99) var(--l-99));
  --ref-palette-orange100: hsl(var(--hue-orange) var(--s-100) var(--l-100));

  --ref-palette-yellow0: hsl(var(--hue-yellow) var(--s-0) var(--l-0));
  --ref-palette-yellow10: hsl(var(--hue-yellow) var(--s-10) var(--l-10));
  --ref-palette-yellow20: hsl(var(--hue-yellow) var(--s-20) var(--l-20));
  --ref-palette-yellow30: hsl(var(--hue-yellow) var(--s-30) var(--l-30));
  --ref-palette-yellow40: hsl(var(--hue-yellow) var(--s-40) var(--l-40));
  --ref-palette-yellow50: hsl(var(--hue-yellow) var(--s-50) var(--l-50));
  --ref-palette-yellow60: hsl(var(--hue-yellow) var(--s-60) var(--l-60));
  --ref-palette-yellow70: hsl(var(--hue-yellow) var(--s-70) var(--l-70));
  --ref-palette-yellow80: hsl(var(--hue-yellow) var(--s-80) var(--l-80));
  --ref-palette-yellow90: hsl(var(--hue-yellow) var(--s-90) var(--l-90));
  --ref-palette-yellow95: hsl(var(--hue-yellow) var(--s-95) var(--l-95));
  --ref-palette-yellow99: hsl(var(--hue-yellow) var(--s-99) var(--l-99));
  --ref-palette-yellow100: hsl(var(--hue-yellow) var(--s-100) var(--l-100));

  --ref-palette-cyan0: hsl(var(--hue-cyan) var(--s-0) var(--l-0));
  --ref-palette-cyan10: hsl(var(--hue-cyan) var(--s-10) var(--l-10));
  --ref-palette-cyan20: hsl(var(--hue-cyan) var(--s-20) var(--l-20));
  --ref-palette-cyan30: hsl(var(--hue-cyan) var(--s-30) var(--l-30));
  --ref-palette-cyan40: hsl(var(--hue-cyan) var(--s-40) var(--l-40));
  --ref-palette-cyan50: hsl(var(--hue-cyan) var(--s-50) var(--l-50));
  --ref-palette-cyan60: hsl(var(--hue-cyan) var(--s-60) var(--l-60));
  --ref-palette-cyan70: hsl(var(--hue-cyan) var(--s-70) var(--l-70));
  --ref-palette-cyan80: hsl(var(--hue-cyan) var(--s-80) var(--l-80));
  --ref-palette-cyan90: hsl(var(--hue-cyan) var(--s-90) var(--l-90));
  --ref-palette-cyan95: hsl(var(--hue-cyan) var(--s-95) var(--l-95));
  --ref-palette-cyan99: hsl(var(--hue-cyan) var(--s-99) var(--l-99));
  --ref-palette-cyan100: hsl(var(--hue-cyan) var(--s-100) var(--l-100));

  --ref-palette-pink0: hsl(var(--hue-pink) var(--s-0) var(--l-0));
  --ref-palette-pink10: hsl(var(--hue-pink) var(--s-10) var(--l-10));
  --ref-palette-pink20: hsl(var(--hue-pink) var(--s-20) var(--l-20));
  --ref-palette-pink30: hsl(var(--hue-pink) var(--s-30) var(--l-30));
  --ref-palette-pink40: hsl(var(--hue-pink) var(--s-40) var(--l-40));
  --ref-palette-pink50: hsl(var(--hue-pink) var(--s-50) var(--l-50));
  --ref-palette-pink55: hsl(var(--hue-pink) var(--s-55) var(--l-55));
  --ref-palette-pink60: hsl(var(--hue-pink) var(--s-60) var(--l-60));
  --ref-palette-pink70: hsl(var(--hue-pink) var(--s-70) var(--l-70));
  --ref-palette-pink80: hsl(var(--hue-pink) var(--s-80) var(--l-80));
  --ref-palette-pink90: hsl(var(--hue-pink) var(--s-90) var(--l-90));
  --ref-palette-pink95: hsl(var(--hue-pink) var(--s-95) var(--l-95));
  --ref-palette-pink99: hsl(var(--hue-pink) var(--s-99) var(--l-99));
  --ref-palette-pink100: hsl(var(--hue-pink) var(--s-100) var(--l-100));

  --sys-color-divider: color-mix(in srgb, var(--ref-palette-neutral10) 8%, transparent);
  --sys-color-divider-on-tonal-container: color-mix(in srgb, var(--ref-palette-neutral10) 6%, transparent);
  --sys-color-divider-prominent: color-mix(in srgb, var(--ref-palette-neutral10) 14%, transparent);
  --divider-line: color-mix(in srgb, var(--ref-palette-neutral10) 6%, transparent);
  --color-scrollbar-mac: var(--ref-palette-neutral60);
  --color-scrollbar-mac-hover: var(--ref-palette-neutral40);
  --color-scrollbar-other: var(--ref-palette-neutral60);
  --color-scrollbar-other-hover: var(--ref-palette-neutral40);
  scrollbar-color: var(--ref-palette-neutral60) var(--ref-palette-neutral95);

  &.theme-with-dark-background {
    --sys-color-divider: color-mix(in srgb, var(--ref-palette-neutral90) 8%, transparent);
    --sys-color-divider-on-tonal-container: color-mix(in srgb, var(--ref-palette-neutral90) 6%, transparent);
    --sys-color-divider-prominent: color-mix(in srgb, var(--ref-palette-neutral90) 14%, transparent);
    --divider-line: color-mix(in srgb, var(--ref-palette-neutral90) 6%, transparent);
    --color-scrollbar-mac: var(--ref-palette-neutral40);
    --color-scrollbar-mac-hover: var(--ref-palette-neutral60);
    --color-scrollbar-other: var(--ref-palette-neutral40);
    --color-scrollbar-other-hover: var(--ref-palette-neutral60);
    scrollbar-color: var(--ref-palette-neutral40) var(--ref-palette-neutral15);
  }

  &.baseline-default {
    --sys-color-surface1: color-mix(in srgb, var(--ref-palette-primary40) 5%, var(--ref-palette-neutral100));
    --sys-color-surface2: color-mix(in srgb, var(--ref-palette-primary40) 8%, var(--ref-palette-neutral100));
    --sys-color-surface3: color-mix(in srgb, var(--ref-palette-primary40) 11%, var(--ref-palette-neutral100));
    --sys-color-surface4: color-mix(in srgb, var(--ref-palette-primary40) 12%, var(--ref-palette-neutral100));
    --sys-color-surface5: color-mix(in srgb, var(--ref-palette-primary40) 14%, var(--ref-palette-neutral100));
    &.theme-with-dark-background {
      --sys-color-surface1: color-mix(in srgb, var(--ref-palette-primary80) 5%, var(--ref-palette-neutral10));
      --sys-color-surface2: color-mix(in srgb, var(--ref-palette-primary80) 8%, var(--ref-palette-neutral10));
      --sys-color-surface3: color-mix(in srgb, var(--ref-palette-primary80) 11%, var(--ref-palette-neutral10));
      --sys-color-surface4: color-mix(in srgb, var(--ref-palette-primary80) 12%, var(--ref-palette-neutral10));
      --sys-color-surface5: color-mix(in srgb, var(--ref-palette-primary80) 14%, var(--ref-palette-neutral10));
    }
  }
}
